@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}


<partial name="_Showcase" />


@{
	var selection = Umbraco.Content(Guid.Parse("7a8fc88f-b209-4036-8160-60590c61a599"))
    .ChildrenOfType("product")
    .Where(x => x.IsVisible());
}




<div class="d-flex justify-content-around">
    	@foreach (var item in selection)
	{
	    <div>
	        	
			<a href="@item.Url()">@item.Name()</a>
		
		
		    <partial name="_Product" model="@item" />
	    </div>
	}
</div>

<div class="m-5 p-5"></div>

<div class="f-container">
    @await Html.GetBlockGridHtmlAsync(Model.FeaturedProductsContent)
</div>