@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
        var product =  Model.Content.Value<IPublishedContent>("productBraco");
    var productName = product.GetProperty("productName");
    var productCategory = product.GetProperty("productCategory");
    var imageUrl = product.Value<IPublishedContent>("productImage");
} 

<div style="height: 400px;">
    <div class="product-box">
        <a href="@product.Url()">
            <div class="product-square">
                <div class="w-100 h-100">
                    <img class="w-100 h-100" src="@imageUrl.Url()" alt="image" />
                </div>
                <div class="quick-view-icons">
                    <div class="icon-circle">
                        <a href="https://www.dn.se/"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="icon-circle">
                        <a href=""><i class="fa-solid fa-arrows-spin"></i></a>
                    </div>
                    <div class="icon-circle">
                        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
                    </div>

                </div>
                <div class="red-box">
                    <div class="left-corner"></div>
                    <p>QUICK VIEW</p>
                    <div class="right-corner"></div>
                </div>

            </div>
        </a>
        <div class="product-text">
            <p>@productCategory.GetValue()</p>
            <p><strong>@productName.GetValue()</strong></p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p><strong>$35.00</strong></p>
            
        </div>
        
    </div>
</div>