@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="background-lightgrey footer">
    <div class="footer-socialmedia">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="footer-copyright">
        <p><i class="fa-regular fa-copyright"></i>2022 Fixxo. All Rights Reserved</p>
    </div>
</footer>

